* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
}

img {
  max-width: 100%;
}

body {
  background-image: url(../img/image.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .container {
    max-width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
}
header nav {
  padding-top: 41px;
  display: flex;
  justify-content: space-between;
}
header nav .rightlink {
  display: flex;
  align-items: center;
}
header nav .logo {
  margin-right: 74px;
}
header nav ul {
  display: flex;
  gap: 40px;
}
header nav ul li {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header nav .menu {
  display: none;
}
header .headersection {
  padding-top: 191px;
}
header .headersection .left {
  display: flex;
  flex-direction: column;
}
header .headersection .left .top {
  margin-left: 89px;
  margin-bottom: 105px;
  display: flex;
  flex-direction: column;
}
header .headersection .left .top h1 {
  color: #000;
  font-family: Roboto;
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 37px;
}
header .headersection .left .top h4 {
  max-width: 640px;
  color: #000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .headersection .left .top p {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .headersection .left .top p span img {
  padding-top: 5px;
  padding-left: 10px;
  width: 81.038px;
  height: 42.038px;
  flex-shrink: 0;
}
header .headersection .button {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
header .headersection .button img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.imgmoscow {
  display: none;
}

@media (max-width: 700px) {
  body {
    background-image: none;
  }
  header nav .logo img {
    width: 32px;
    height: 32px;
  }
  header nav .menulink {
    display: none;
  }
  header nav .seorch img {
    width: 32px;
    height: 32px;
  }
  header nav .menu {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #000;
  }
  header nav .menu svg {
    width: 32px;
    height: 32px;
  }
  header .headersection {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  header .headersection .left .top {
    margin-bottom: 50px;
    margin-left: 0;
    text-align: center;
  }
  header .headersection .left .top h1 {
    font-size: 300%;
    font-weight: 500;
  }
  header .headersection .left .top h4 {
    font-size: 140%;
  }
  header .headersection .button {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header .headersection p {
    margin: 0 auto;
  }
  header .headersection .imgmoscow {
    display: inline-block;
  }
}

/*# sourceMappingURL=main.css.map */
